
.cache
.DS_Store
.dynamodb
.env
.env.*.local
.env.local
.env.production
.env.test
.env.dev
.eslintcache
.fusebox
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.rpt2_cache
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd
.serverless
.tern-port
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.dll
*.dylib
*.exe
*.exe~
*.lcov
*.log
*.njsproj
*.ntvs*
*.out
*.pid
*.pid.lock
*.seed
*.sln
*.so
*.suo
*.sw?
*.swp
*.test
*.tgz
*.tsbuildinfo
/dist
/logs
bower_components
build/Release
coverage
dist
jspm_packages
lerna-debug.log*
lib-cov
logs
node_modules
npm-debug.log*
out
pids
pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
sw.*
typings
web_modules
yarn-debug.log*
yarn-error.log
yarn-error.log*
tmp
